<%= stylesheet_link_tag "/assets/hospital/home" %>
<!-- 身份证读卡 -->
<%= javascript_include_tag "/assets/hospital/iden_websocket" %>

<style type="text/css">
	#hospital_layout_hidden .el-radio {
		display: block;
		margin-left: 10%;
		margin-top: 10px;
	}
</style>
<div id="hospital_layout_hidden">
	<input type="hidden" id="current_user_loc_id" value="<%= current_user.cur_loc_id %>">
	<input type="hidden" id="current_user_is_admin" value="<%= current_user.is_admin? %>">
	<input type="hidden" id="current_org_name" value="<%= current_user.organization.name rescue '' %>">
	<el-dialog
	  title="选择科室"
	  :visible.sync="dialogVisible"
	  width="30%"
	  :close-on-click-modal="false"
	  :show-close="false"
	  center>
	  <el-radio-group v-model="dep_id">
	    <el-radio v-for="(dep, index) in departments" :key="index" :label="dep.id">{{ dep.name }}</el-radio>
	  </el-radio-group>
	  <span slot="footer" class="dialog-footer">
	    <el-button size="mini" v-if="dep_id" @click="dialogVisible = false">取 消</el-button>
	    <el-button size="mini" type="primary" @click="changeDep">确 定<i class="fa fa-spinner fa-spin fa-fw fa-lg" style="display: none;"></i></el-button>
	  </span>
	</el-dialog>
</div>

<script type="text/javascript">
	// 处方状态
	var presStatusOptions = [
			{value: "0", label: "未审核", type: "primary"},
			{value: "1", label: "已审核", type: "primary"},
			{value: "2", label: "待收费", type: "warning"},
			{value: "3", label: "已收费", type: "success"},
			{value: "4", label: "已发药", type: "success"},
			{value: "6", label: "失效", type: "info"},
			{value: "7", label: "废弃", type: "info"},
			{value: "8", label: "已退药", type: "info"},
			{value: "10", label: "完成", type: "success"},
			// {value: "9", label: "已退费", type: "info"},
		];


	var docCommMet = new Vue({
	  el: '#hospital_layout_hidden',
	  data: function() {
	  	var locId = $("#current_user_loc_id").val(),
	  		isAdmin = ($("#current_user_is_admin").val()=="true" ? true : false);

	    return { 
	    	dialogVisible: false,
	    	dep_id: parseInt(locId), // 当前科室id
	    	departments: [],
	    	current_user_is_admin: isAdmin,
	    }
	  },
	  mounted: function(){
	  	this.$nextTick(function(){
				this.init();
			})
		},
		methods:{
			init: function () {
				// 判断是否有科室，没有科室的话，弹出选择
				if(!this.current_user_is_admin && !this.dep_id) {
					this.openDepDialog()
				}
				// 连接身份证读卡器的后台服务
				connect();
			},
			openDepDialog: function () {
				this.dialogVisible = true;
				this.getDepartments()
			},
			getDepartments: function () {
				var _this = this;
				Vue.resource('/hospital/sets/departments/get_active_departments.json').get().then(function(response) {
			    var res = response.data;
			    if(res.flag) {
			    	_this.departments = res.data;
			    	if(!_this.departments || _this.departments.length==0) {
			    		_this.$message({
			          message: "未获取到有效科室，请联系管理员设置科室。",
			          type: 'warning'
			        });
			    	}
			    } else {
			    	_this.$message.error(res.info);
			    }
			  },function() {
			  	_this.$message.error("获取科室列表失败，请联系管理员。");
			  })
			},
			changeDep: function () {
				var _this = this;
				var btn = $(event.target);
				if(!_this.dep_id) {
					_this.$message({
	          message: "请选择科室。",
	          type: 'warning'
	        });
	        return false;
				}
				_this.$http.post('/hospital/sets/departments/set_cur_department', {dep_id: _this.dep_id, authenticity_token: $('[name="csrf-token"]').attr('content')}).then( function(response) {
          btn.removeAttr("disabled").find(".fa").hide();
          var res = response.data;
          if(res.flag) {
      			_this.$message({
		          message: "科室设置成功。",
		          type: 'success'
		        });
		        _this.dialogVisible = false;
		        $("#current_user_loc_id").val(res.data.id);
		        // 导航栏的科室显示
		        $("#header_show_dep_span").html(res.data.display);
      		} else {
						_this.$message.error(res.info);
      		}
      		
        }, function() {
          btn.removeAttr("disabled").find(".fa").hide();
          _this.$message.error("后台出错，设置当前科室失败。请联系管理员");
        });

			},
		},
	})
</script>

<script type="text/javascript">
	$(function(){
		// 自定义打印方法
	  var window_printer;
	  $('iframe#window_printer_iframe').remove();
	  $('body').append('<iframe style="display: none;" id="window_printer_iframe"></iframe>');
	  window_printer = document.getElementById("window_printer_iframe").contentWindow;
	  window_printer.document.open();
	  window_printer.document.writeln('<html><head>');
	  window_printer.document.writeln('</head><body></body></html>');
	  window_printer.document.close();

	  $.fn.print_area = function() {
	    $this = $(this);
	    
	    var str = $this[0].outerHTML;
	    $(window_printer.document).find('body').html( str );

	    window_printer.print();
	  };
	})

	// 快捷键设置
	document.onkeydown = function(){
		if(event.keyCode==112) { // F1 调用身份证读卡
		  apps.encounters_new.getIdCardInfo();
		  return false;
		}
	}
	
</script>