<p id="notice"><%= notice %></p>

<p>
  <strong>Org:</strong>
  <%= @ims_inv_entry.org_id %>
</p>

<p>
  <strong>Medicine:</strong>
  <%= @ims_inv_entry.medicine_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ims_inv_entry.name %>
</p>

<p>
  <strong>Spec:</strong>
  <%= @ims_inv_entry.spec %>
</p>

<p>
  <strong>Formul name:</strong>
  <%= @ims_inv_entry.formul_name %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @ims_inv_entry.entry_type %>
</p>

<p>
  <strong>Pt code:</strong>
  <%= @ims_inv_entry.pt_code %>
</p>

<p>
  <strong>Code:</strong>
  <%= @ims_inv_entry.code %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @ims_inv_entry.unit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ims_inv_entry.price %>
</p>

<p>
  <strong>Mul:</strong>
  <%= @ims_inv_entry.mul %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @ims_inv_entry.batch %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ims_inv_entry.location_id %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @ims_inv_entry.location_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ims_inv_entry.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ims_inv_entry.amount %>
</p>

<p>
  <strong>Source:</strong>
  <%= @ims_inv_entry.source_id %>
</p>

<p>
  <strong>Source name:</strong>
  <%= @ims_inv_entry.source_name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @ims_inv_entry.document_id %>
</p>

<p>
  <strong>Document code:</strong>
  <%= @ims_inv_entry.document_code %>
</p>

<p>
  <strong>Document line:</strong>
  <%= @ims_inv_entry.document_line_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ims_inv_entry.note %>
</p>

<p>
  <strong>Operater:</strong>
  <%= @ims_inv_entry.operater %>
</p>

<p>
  <strong>Operater:</strong>
  <%= @ims_inv_entry.operater_id %>
</p>

<p>
  <strong>Operat at:</strong>
  <%= @ims_inv_entry.operat_at %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @ims_inv_entry.patient_name %>
</p>

<p>
  <strong>Posting on:</strong>
  <%= @ims_inv_entry.posting_on %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @ims_inv_entry.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @ims_inv_entry.updated_at %>
</p>

<%= link_to 'Edit', edit_ims_inv_entry_path(@ims_inv_entry) %> |
<%= link_to 'Back', ims_inv_entries_path %>
