<%= form_with(model: ims_inv_stock, local: true) do |form| %>
  <% if ims_inv_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ims_inv_stock.errors.count, "error") %> prohibited this ims_inv_stock from being saved:</h2>

      <ul>
      <% ims_inv_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :org_id %>
    <%= form.number_field :org_id, id: :ims_inv_stock_org_id %>
  </div>

  <div class="field">
    <%= form.label :medicine_id %>
    <%= form.number_field :medicine_id, id: :ims_inv_stock_medicine_id %>
  </div>

  <div class="field">
    <%= form.label :pt_code %>
    <%= form.text_field :pt_code, id: :ims_inv_stock_pt_code %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :ims_inv_stock_code %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit, id: :ims_inv_stock_unit %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :ims_inv_stock_price %>
  </div>

  <div class="field">
    <%= form.label :mul %>
    <%= form.text_field :mul, id: :ims_inv_stock_mul %>
  </div>

  <div class="field">
    <%= form.label :batch %>
    <%= form.text_field :batch, id: :ims_inv_stock_batch %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id, id: :ims_inv_stock_location_id %>
  </div>

  <div class="field">
    <%= form.label :location_name %>
    <%= form.text_field :location_name, id: :ims_inv_stock_location_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :ims_inv_stock_quantity %>
  </div>

  <div class="field">
    <%= form.label :freeze_qty %>
    <%= form.text_field :freeze_qty, id: :ims_inv_stock_freeze_qty %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :ims_inv_stock_amount %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at, id: :ims_inv_stock_created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at, id: :ims_inv_stock_updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
