<p id="notice"><%= notice %></p>

<h1>Ims Inv Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Org</th>
      <th>Medicine</th>
      <th>Pt code</th>
      <th>Code</th>
      <th>Unit</th>
      <th>Price</th>
      <th>Mul</th>
      <th>Batch</th>
      <th>Location</th>
      <th>Location name</th>
      <th>Quantity</th>
      <th>Freeze qty</th>
      <th>Amount</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ims_inv_stocks.each do |ims_inv_stock| %>
      <tr>
        <td><%= ims_inv_stock.org_id %></td>
        <td><%= ims_inv_stock.medicine_id %></td>
        <td><%= ims_inv_stock.pt_code %></td>
        <td><%= ims_inv_stock.code %></td>
        <td><%= ims_inv_stock.unit %></td>
        <td><%= ims_inv_stock.price %></td>
        <td><%= ims_inv_stock.mul %></td>
        <td><%= ims_inv_stock.batch %></td>
        <td><%= ims_inv_stock.location_id %></td>
        <td><%= ims_inv_stock.location_name %></td>
        <td><%= ims_inv_stock.quantity %></td>
        <td><%= ims_inv_stock.freeze_qty %></td>
        <td><%= ims_inv_stock.amount %></td>
        <td><%= ims_inv_stock.created_at %></td>
        <td><%= ims_inv_stock.updated_at %></td>
        <td><%= link_to 'Show', ims_inv_stock %></td>
        <td><%= link_to 'Edit', edit_ims_inv_stock_path(ims_inv_stock) %></td>
        <td><%= link_to 'Destroy', ims_inv_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ims Inv Stock', new_ims_inv_stock_path %>
