<p id="notice"><%= notice %></p>

<p>
  <strong>Org:</strong>
  <%= @ims_inv_stock.org_id %>
</p>

<p>
  <strong>Medicine:</strong>
  <%= @ims_inv_stock.medicine_id %>
</p>

<p>
  <strong>Pt code:</strong>
  <%= @ims_inv_stock.pt_code %>
</p>

<p>
  <strong>Code:</strong>
  <%= @ims_inv_stock.code %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @ims_inv_stock.unit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ims_inv_stock.price %>
</p>

<p>
  <strong>Mul:</strong>
  <%= @ims_inv_stock.mul %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @ims_inv_stock.batch %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ims_inv_stock.location_id %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @ims_inv_stock.location_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ims_inv_stock.quantity %>
</p>

<p>
  <strong>Freeze qty:</strong>
  <%= @ims_inv_stock.freeze_qty %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ims_inv_stock.amount %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @ims_inv_stock.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @ims_inv_stock.updated_at %>
</p>

<%= link_to 'Edit', edit_ims_inv_stock_path(@ims_inv_stock) %> |
<%= link_to 'Back', ims_inv_stocks_path %>
