<%= form_with(model: ims_inv_select_config, local: true) do |form| %>
  <% if ims_inv_select_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ims_inv_select_config.errors.count, "error") %> prohibited this ims_inv_select_config from being saved:</h2>

      <ul>
      <% ims_inv_select_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :use_org_id %>
    <%= form.text_field :use_org_id, id: :ims_inv_select_config_use_org_id %>
  </div>

  <div class="field">
    <%= form.label :c_id %>
    <%= form.number_field :c_id, id: :ims_inv_select_config_c_id %>
  </div>

  <div class="field">
    <%= form.label :use_name %>
    <%= form.text_field :use_name, id: :ims_inv_select_config_use_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
