<p id="notice"><%= notice %></p>

<p>
  <strong>Use org:</strong>
  <%= @ims_inv_select_config.use_org_id %>
</p>

<p>
  <strong>C:</strong>
  <%= @ims_inv_select_config.c_id %>
</p>

<p>
  <strong>Use name:</strong>
  <%= @ims_inv_select_config.use_name %>
</p>

<%= link_to 'Edit', edit_ims_inv_select_config_path(@ims_inv_select_config) %> |
<%= link_to 'Back', ims_inv_select_configs_path %>
