<script src="/assets/plugins/mui/mui.zoom.js"></script>
<script src="/assets/plugins/mui/mui.previewimage.js"></script>
<style type="text/css">
	html,body,.mui-content{
		height: 100%;
	}
	.mui-content{
		overflow: auto;
	}
</style>
<style type="text/css">
	.mui-preview-image.mui-fullscreen {
		position: fixed;
		z-index: 20;
		background-color: #000;
	}
	.mui-preview-header,
	.mui-preview-footer {
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 10;
	}
	.mui-preview-header {
		height: 44px;
		top: 0;
	}
	.mui-preview-footer {
		height: 50px;
		bottom: 0px;
	}
	.mui-preview-header .mui-preview-indicator {
		display: block;
		line-height: 25px;
		color: #fff;
		text-align: center;
		margin: 15px auto 4;
		width: 70px;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 12px;
		font-size: 16px;
	}
	.mui-preview-image {
		display: none;
		-webkit-animation-duration: 0.5s;
		animation-duration: 0.5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.mui-preview-image.mui-preview-in {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
	}
	.mui-preview-image.mui-preview-out {
		background: none;
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
	}
	.mui-preview-image.mui-preview-out .mui-preview-header,
	.mui-preview-image.mui-preview-out .mui-preview-footer {
		display: none;
	}
	.mui-zoom-scroller {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		-webkit-backface-visibility: hidden;
	}
	.mui-zoom {
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.mui-slider .mui-slider-group .mui-slider-item img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
		width: 100%;
	}
	.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
		display: inline-table;
	}
	.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
		display: table-cell;
		vertical-align: middle;
	}
	.mui-preview-loading {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;
	}
	.mui-preview-loading.mui-active {
		display: block;
	}
	.mui-preview-loading .mui-spinner-white {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;
		height: 50px;
		width: 50px;
	}
	.mui-preview-image img.mui-transitioning {
		-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
		transition: transform 0.5s ease, opacity 0.5s ease;
	}
	@-webkit-keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	p img {
		max-width: 100%;
		height: auto;
	}
</style>
<header class="my_top_nav mui-bar mui-bar-nav">
	<!-- <a href="/users/home" class="mui-icon mui-icon-left-nav mui-pull-left"></a> -->
	<h1 class="mui-title">体检二维码</h1>
</header>
<div class="mui-content" style="background: #fff;">
	<div class="mui-content-padded" style="padding-top: 30px;">
		<% if !current_user.get_qr_code.present? %>
			<script type="text/javascript">
				mui.toast("注册时二维码生成失败，请点击《重新生成二维码》",{duration:12000});
			</script>
			<button onclick="new_qrcode();" class="mui-btn mui-btn-primary" style="width: 100%;">重新生成二维码</button>
		<% elsif @user.status.to_s != "gaodeng" %>
			<script type="text/javascript">
				mui.toast("个人信息未同步到社区，请点击《上传到健康社区》",{duration:12000});
			</script>
			<button onclick="push_gaodeng();" class="mui-btn mui-btn-primary" style="width: 100%;">上传到健康社区</button>
		<% else %>
			<% if @res[:show]==true %>
				<% if @res[:error]==false %>
				<div style="text-align: center;font-size: 16px;color: #333;">未支付的用户</div>
				<button id="reload_btn" class="mui-btn mui-btn-primary hide" style="width: 100%; margin: 10px 0;">重新支付</button>
				<% else %>
				<div style="text-align: center;font-size: 16px;color: #333;">支付异常</div>
				<% end -%>
			<% else %>
				<div style="text-align: center;font-size: 16px;color: #333;">请向健康小站出示此二维码</div>
				<div style="text-align: center;font-size: 16px;color: #333;">横屏或者显示不完整时请单击二维码</div>
				<img src="<%= @user.qr_code.base64_data rescue nil %>" style="width: 100%;" data-preview-src="" data-preview-group="1"/>
			<% end -%>
		<% end -%>
	</div>
</div>
<script type="text/javascript">
	$("#reload_btn").on('tap',function(e) {
		// location.href = '/users/qrcode';
		location.reload()
	})
	mui.previewImage();
	// 
	<% if flash[:notice].present? %>
	mui.toast("<%= flash[:notice] rescue nil %>",{duration:8000});
	<% end -%>
	function new_qrcode() {
		$("#loading").show();
		$.ajax({
			url:'/users/new_qrcode.json',
			type:'post',
			success:function(json){
				mui.toast(json.msg,{duration:3000});
				alert(json.msg);
				location.reload();
			},
			complete:function() {
				$("#loading").hide();
			},
			error:error_fun
		})
	}
	function push_gaodeng() {
		$("#loading").show();
		$.ajax({
			url:'/users/push_gaodeng.json',
			type:'post',
			data:{
				api:'new_user',
			},
			success:function(json){
				mui.toast(json.msg,{duration:3000});
				alert(json.msg);
				location.reload();
			},
			complete:function() {
				$("#loading").hide();
			},
			error:error_fun
		})
	}
	// 微信支付
	<% if @res[:msg].to_s.present? %>
	mui.toast("<%= @res[:msg] rescue nil %>",{duration:8000});
	<% end -%>
	<% if @res[:show]==true&&@res[:error]==false %>
	function onBridgeReady(){
		WeixinJSBridge.invoke('getBrandWCPayRequest', {
			"appId":"<%= @res[:appId] %>",     //公众号名称，由商户传入     
			"timeStamp":"<%= @res[:timeStamp] %>",         //时间戳，自1970年以来的秒数     
			"nonceStr":"<%= @res[:nonceStr] %>", //随机串     
			"package":"<%= @res[:package] %>",     
			"signType":"<%= @res[:signType] %>",         //微信签名方式：     
			"paySign":"<%= @res[:sign] %>" //微信签名 
		},function(res){
			// 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
			// alert(JSON.stringify(res.err_desc))
			if(res.err_msg == "get_brand_wcpay_request:ok" ) {
				$("#loading").show();
				$.ajax({
					url:'/users/replay',
					type:'post',
					success:function(json) {
						// alert("支付成功。");
						location.reload();
					},
					complete:function() {
					},
					error:function(e) {
						$("#loading").hide();
						var info = '';
						if(e.status==0){
							info = '错误: ' + e.status + ' 访问服务器失败，请检查网络或刷新重试';
						}else{
							info = '错误: ' + e.status + ' ' + e.statusText;
						}
						mui.toast(info, {
							duration: 8000
						});
					}
				})
			}else{
				if(res.err_msg == "get_brand_wcpay_request:cancel" ) {
					alert("已取消支付。");
				}else{
					alert("支付失败。");
				}
				$("#reload_btn").removeClass("hide");
			}
		});
	}
	if (typeof WeixinJSBridge == "undefined"){
		if( document.addEventListener ){
			document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
		}else if (document.attachEvent){
			document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
			document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
		}
	}else{
		onBridgeReady();
	}
	<% end %>
</script>