<p id="notice"><%= notice %></p>

<p>
  <strong>Source org ii:</strong>
  <%= @ims_order.source_org_ii %>
</p>

<p>
  <strong>Source org name:</strong>
  <%= @ims_order.source_org_name %>
</p>

<p>
  <strong>Target org ii:</strong>
  <%= @ims_order.target_org_ii %>
</p>

<p>
  <strong>Target org name:</strong>
  <%= @ims_order.target_org_name %>
</p>

<p>
  <strong>Patient order:</strong>
  <%= @ims_order.patient_order_id %>
</p>

<p>
  <strong>Order code:</strong>
  <%= @ims_order.order_code %>
</p>

<p>
  <strong>Patient name:</strong>
  <%= @ims_order.patient_name %>
</p>

<p>
  <strong>Repeat number:</strong>
  <%= @ims_order.repeat_number %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @ims_order.total_amount %>
</p>

<p>
  <strong>Search name:</strong>
  <%= @ims_order.search_name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ims_order.note %>
</p>

<p>
  <strong>Operater:</strong>
  <%= @ims_order.operater %>
</p>

<p>
  <strong>Operat at:</strong>
  <%= @ims_order.operat_at %>
</p>

<p>
  <strong>Ori:</strong>
  <%= @ims_order.ori_id %>
</p>

<p>
  <strong>Ori code:</strong>
  <%= @ims_order.ori_code %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @ims_order.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @ims_order.updated_at %>
</p>

<%= link_to 'Edit', edit_ims_order_path(@ims_order) %> |
<%= link_to 'Back', ims_orders_path %>
