<%= form_with(model: ims_inv_use_config, local: true) do |form| %>
  <% if ims_inv_use_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ims_inv_use_config.errors.count, "error") %> prohibited this ims_inv_use_config from being saved:</h2>

      <ul>
      <% ims_inv_use_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :use_system %>
    <%= form.text_field :use_system, id: :ims_inv_use_config_use_system %>
  </div>

  <div class="field">
    <%= form.label :config %>
    <%= form.text_field :config, id: :ims_inv_use_config_config %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
