<p id="notice"><%= notice %></p>

<p>
  <strong>Use system:</strong>
  <%= @ims_inv_use_config.use_system %>
</p>

<p>
  <strong>Config:</strong>
  <%= @ims_inv_use_config.config %>
</p>

<%= link_to 'Edit', edit_ims_inv_use_config_path(@ims_inv_use_config) %> |
<%= link_to 'Back', ims_inv_use_configs_path %>
