<!DOCTYPE html>
<html>
  <head>
    <title>腾迈智医</title>
    <link rel="icon" href="/assets/admin/TM.ico" />
    <%= javascript_include_tag "/assets/jquery/jquery-1.9.1","/assets/plugins/vue/vue-253","/assets/plugins/vue/vue-router","/assets/plugins/vue/vue-resource","/assets/plugins/lodash","/assets/plugins/vue/element-ui-240" %>
    <%= stylesheet_link_tag "/assets/plugins/element-ui/index","/assets/plugins/fontawesome/font-awesome.min","/assets/plugins/vue/display" %>
    <%= javascript_include_tag  %>
    <%= csrf_meta_tags %>
  </head>
  <body class="thin_scrollbar">
    <style type="text/css">
      .fade-enter-active, .fade-leave-active{
        transition: opacity .2s;
      }
      .fade-enter, .fade-leave-active{
        opacity: 0;
      }
      template{
        display: none;
      }
      .clear{
        clear: both;
      }
      a {
        color: #428bca;
        text-decoration: none;
      }
      .text-muted {
        color: #999999;
      }
      .text-info {
        color: #409EFF;
      }
      .bg-purple {
        background: #d3dce6;
      }
      .bg-success {
        background: #67c23a !important;
        color: #fff !important;
      }
      .selected-success {
        background: #67c23a !important;
        color: #000 !important;
        font-weight: bold;
      }
      .selected-success .el-tag{
        color: #000;
      }
      .hide{
        display: none !important;
      }
      .padding_box{
        border: 1px solid #bbb;
        /*border-radius: 4px;*/
        transition: .2s;
        padding: 6px;
      }
      .text-center{
        text-align: center;
      }
      .table_header_dark thead tr th {
        /*background: #5a7fab !important;*/
        /*color: #fff !important;*/
      }
      .header_dark {
        background: #5a7fab;
        color: #fff;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
      }
      h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
      }
      h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 15px;
        margin-bottom: 7.5px;
      }
      /*.el-table td, .el-table th{
        padding: 6px 0;
      }*/
      .container,#current_app_div,.router-view-content{
        height: 100%;
      }
      .router-view-content{
        padding: 0 18px;
        overflow: auto;
      }
      .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
        margin-bottom: 14px;
      }
      .el-form-item--mini.el-form-item:last-child, .el-form-item--small.el-form-item:last-child {
        margin-bottom: 0px;
      }
      .thin_scrollbar *::-webkit-scrollbar {
        width: 8px;
        background: #f1f1f1;
        height: 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      .thin_scrollbar *::-webkit-scrollbar-thumb {
        background: #bbb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      .thin_scrollbar *::-webkit-scrollbar-thumb:hover {
        background: #999;
      }
      .thin_scrollbar *::-webkit-scrollbar-thumb:active {
        background: #777;
      }
      .vertical_bottom > div{
        vertical-align: bottom;
      }
      /*.el-pagination[background] .el-pager li.active {
        background-color: #409eff;
        color: #fff;
      }*/
      .text-danger{
        color: #f56c6c;
      }
      .text-warning {
        color: #e6a23c;
      }
      /* table index word break bug */
      .no_word_break > * {
        padding: 0 4px 0 0 !important;
        word-break: initial !important;
      }
      /* element-2 2 2 form-item input-group bug */
      .el-form-item .el-input-group{
        display: table;
      }
      /* el-table-column class-name="td_no_padding" */
      .td_no_padding, .td_no_padding > * {
        padding: 0 !important;
      }
      /* datepicker clearable bug */
      .no_clearable_css > input{
        padding-right: 10px !important;
      }
      /* tab_content_full_height_bug   tabs 组件不能全屏的css */
      .tab_content_full_height_bug .el-tabs__content{
        height: calc( 100% - 40px );
      }
      .tab_content_full_height_bug .el-tabs__content .el-tab-pane{
        height: 100%;
        overflow: auto;
      }
      .el-pagination .el-input__inner{
        line-height: initial;
      }
      .el-pagination--small .el-select .el-input .el-input__inner{
        height: 23px;
      }
    </style>
    <%= render '/layouts/header_and_footer' %>
    <div class="container">
      <div id="current_app_div" v-loading.fullscreen.lock="loading">
        <transition name="fade" mode="out-in">
          <router-view v-if="$route.meta.notKeepAlive" class="router-view-content"></router-view>
          <keep-alive v-else>
            <router-view class="router-view-content"></router-view>
          </keep-alive>
        </transition>
      </div>
      <%
        case controller_path
        when "admin/home"
          dir_name = "/admin/home/templates"
        when "hospital/home"
          dir_name = "/hospital/home/templates"
        when "ims/home"
          dir_name = "/ims/home/templates"
        else
          p '~~~~~~~~~~ application.html.erb'
          raise "未处理的 controller_path : #{params[:path]} => ApplicationController#templates"
        end
      %>
      <%= render "#{dir_name}/home" %>
    </div>
    <div>
    </div>
    <script type="text/javascript">
      window.apps||(window.apps = {});

      $.ajaxPrefilter(function(options,originalOptions,xhr){
        var token = $('meta[name="csrf-token"]').attr('content');
        xhr.setRequestHeader('X-CSRF-Token',token);
      })

      const error_fun = function(e){
        current_app.loading = false;
        current_app.$message({
          type: 'error',
          message: '错误: '+e.status+' '+e.statusText,
          showClose: true,
          duration: 0
        });
      }
      const refresh = Vue.extend({
        template: '<div></div>',
        beforeRouteEnter:function(to, from, next){
          // current_app.$message('目前由于架构所限，将刷新所有组件分页！')
          next(function(){
            router.push(from.path)
          })
        }
      })
      const router = new VueRouter({
        routes:[
        {path:'/',redirect:'/home'},
        {path:'/home',component:home},
        {path:'/refresh',component:refresh,meta:{notKeepAlive:true}},
        ]
      })
      /* 全局过滤器----start */
        // 日期
        Vue.filter('formatDate', function (value, fmt) {
          if(!fmt) fmt = "yyyy-MM-dd HH:mm";
          if(!value){
            return "";
          }else{
            return (new Date(value).pattern(fmt));
          }
        })
        // 金额
        Vue.filter('formatMoney', function (value, fmt) {
          return (value||0).toFixed(fmt || 4);
        })

      /* 全局过滤器----end */

      const current_app = new Vue({
        el:"#current_app_div",
        data:{
          loading:false,
          auto_search_timeout_value:500, // 各子组件共用手动输入框搜索延时
          common_data_departments:[],
          codesystem_data_sex:[],
          common_data_new_bumber:["DAY", "WEEK", "MONTH", "YEAR", "NEVER"],
          common_data_application_exec_status:[{code:"",display:'所有'},{code:'A',display:'未执行'},{code:'E',display:'已执行'}],
          common_data_org_type_code:[{code:'1',display:'医院'},{code:'2',display:'药房'}],
          common_data_genders:[{code:"1",display:'男'},{code:'2',display:'女'}],
          common_data_occupations:[{code: "01", display: "幼托儿童"}, {code: "02", display: "散居儿童"}, {code: "03", display: "学生（大中小学）"}, {code: "04", display: "教师"}, {code: "05", display: "保育员及保姆"}, {code: "06", display: "餐饮食品业"}, {code: "07", display: "商业服务"}, {code: "08", display: "医务人员"}, {code: "09", display: "工人"}, {code: "10", display: "民工"}, {code: "11", display: "农民"}, {code: "12", display: "牧民"}, {code: "13", display: "渔（船）民"}, {code: "14", display: "干部职员"}, {code: "15", display: "离退人员"}, {code: "16", display: "家务及待业"}, {code: "17", display: "不详"}, {code: "99", display: "其他"}], // CodeSystem 2.16.156.1.13610.1.364.2.1.202
          common_data_nations:[{code:"TU",display:'土族'},{code:'KZ',display:'哈沙克族'}], // ValueSet 2.16.156.1.675425699.1.11.14
          common_data_marriages:[{code:"10",display:'未婚'},{code:'20',display:'已婚'}], // CodeSystem 2.16.156.1.19449.1.2261.2
          common_data_bloods:[{code:"1",display:'A型'},{code:'2',display:'B型'},{code:'3',display:'O型'},{code:'4',display:'AB型'},{code:'5',display:'不详'}], // CodeSystem 2.16.156.1.13610.1.364.4.50.5
          common_data_routes:[{code: "PO", display: "口服", jianpin: "KF"},{code: "IV.DRIP", display: "静脉滴注", jianpin: "JMDZ"},{code: "SC", display: "皮下注射", jianpin: "PXZS"},{code: "IM", display: "肌肉注射", jianpin: "JRZS"},{code: "IV.SHOVE", display: "静脉推注", jianpin: "JMTZ"},{code: "INH", display: "雾化吸入", jianpin: "WHXR"},{code: "JMBR", display: "静脉泵入", jianpin: "JMBR"},{code: "OP", display: "滴眼", jianpin: "DY"},{code: "NA", display: "滴鼻", jianpin: "DB"},{code: "ST", display: "喷喉", jianpin: "PH"},{code: "CHEW", display: "含化", jianpin: "HH"},{code: "ATW", display: "敷伤口", jianpin: "FSK"},{code: "CTS", display: "擦皮肤", jianpin: "CPF"},{code: "RE", display: "直肠用药", jianpin: "ZCYY"},{code: "SL", display: "舌下用药", jianpin: "SXYY"},{code: "INJP", display: "注射用药", jianpin: "ZSYY"},{code: "ID", display: "皮内注射", jianpin: "PNZS"},{code: "IV", display: "静脉注射", jianpin: "JMZS"},{code: "IN", display: "吸入用药", jianpin: "XRYY"},{code: "LA", display: "局部用药", jianpin: "JBYY"},{code: "SCM", display: "椎管内用药", jianpin: "ZGNYY"},{code: "ACD", display: "关节腔内用药", jianpin: "GJQNYY"},{code: "PCM", display: "胸膜腔用药", jianpin: "XMQYY"},{code: "IP", display: "腹腔用药", jianpin: "FQYY"},{code: "VA", display: "阴道用药", jianpin: "YDYY"},{code: "EM", display: "气管内用药", jianpin: "QGNYY"},{code: "ODW", display: "其他用药途径", jianpin: "QTYYTJ"}],
          common_data_frequencys:[{code: "QD", display: "每日一次", jianpin: "MRYC"}, {code: "BID", display: "每日两次", jianpin: "MRLC"}, {code: "TID", display: "每日三次", jianpin: "MRSC"}, {code: "QID", display: "每日四次", jianpin: "MRSC"}, {code: "QUINGID", display: "每日五次", jianpin: "MRWC"}, {code: "QN", display: "每晚一次", jianpin: "MWYC"}, {code: "Q4H", display: "四小时一次", jianpin: "SXSYC"}, {code: "Q6H", display: "六小时一次", jianpin: "LXSYC"}, {code: "Q8H", display: "八小时一次", jianpin: "BXSYC"}, {code: "Q12H12", display: "小时一次", jianpin: "XSYC"}, {code: "QH", display: "一小时一次", jianpin: "YXSYC"}, {code: "Q2H", display: "二小时一次", jianpin: "EXSYC"}, {code: "Q3H", display: "三小时一次", jianpin: "SXSYC"}, {code: "QOD", display: "隔日一次", jianpin: "GRYC"}, {code: "QW", display: "每周一次", jianpin: "MZYC"}],
          common_data_prescription_types:[{code: "1", display: "普通处方"}, {code: "2", display: "急诊处方"}, {code: "3", display: "儿科处方"}, {code: "4", display: "毒麻药品处方"}, {code: "5", display: "第一类精神药品处方"}, {code: "6", display: "第二类精神药品处方"}, {code: "7", display: "抗生素处方"}], // 处方类型CodeSystem 2.16.156.1.675425699.1.50
          pickerOptions:{
            shortcuts: [{
              text: '今天',
              onClick:function(picker) {
                picker.$emit('pick', new Date());
              }
            }, {
              text: '昨天',
              onClick:function(picker) {
                const date = new Date();
                date.setTime(date.getTime() - 3600 * 1000 * 24);
                picker.$emit('pick', date);
              }
            }, {
              text: '一周前',
              onClick:function(picker) {
                const date = new Date();
                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', date);
              }
            }]
          },
        },
        router:router,
        methods:{
          set_dialog_height:function() {
            this.$nextTick(function() {
              $(".el-dialog__body:visible").height($(document).height()-300);
            })
          },
          // tab @tab-click="$parent.element_tab_table_bug([$refs.projects_table,$refs.charges_table])"
          element_tab_table_bug:function(tables) {
            this.$nextTick(function() {
              $(tables).each(function(i,v) {
                v.doLayout();
              })
            })
          },
          // ajax 动态加载 router 并且增加 tab
          // $parent.load_location_hash_router('#/project/daoru')
          load_location_hash_router:function(hash) {
            window.apps.header_and_footer.load_location_hash_router(hash)
          },
          application_jizhen_label:function(jizhenflag){
            // console.log(jizhenflag)
            switch(jizhenflag+''){
              case "true": return '<span class="el-tag el-tag--danger el-tag--mini">急诊</span>';
              // case "false": return '<span class="el-tag el-tag--primary el-tag--mini">普通</span>';
              default: return '<span class="el-tag el-tag--primary el-tag--mini">普通</span>';
            }
          },
          application_charge_status_label:function(status_code){
            // console.log(status_code)
            switch(status_code){
              case "O": return '<span class="el-tag el-tag--danger el-tag--mini">废弃</span>';
              case "N": return '<span class="el-tag el-tag--primary el-tag--mini">未缴费</span>';
              case "P": return '<span class="el-tag el-tag--warning el-tag--mini">可退费</span>';
              case "U": return '<span class="el-tag el-tag--danger el-tag--mini">已退费</span>';
              case "A": return '<span class="el-tag el-tag--success el-tag--mini">已缴费</span>';
              default: return status_code;
            }
          },
          get_common_data_departments:function(){
            var _this = this;
            $.ajax({
              url:'/clis/data/departments.json?label=2',
              success:function(json){
                _this.common_data_departments = json;
                var arr = [];
                $(json).each(function(i,v) {
                  arr.push({id:v.id,display:v.dep_name});
                })
                _this.common_data_departments2 = arr;
              },
            })
          },
          get_codesystem_data:function(target,oid,obj_key,display_name_flag){
            var _this = this;
            $.ajax({
              url:'/voc/get_table_names.json?target='+target+'&oid='+oid,
              success:function(json){
                if (target=='CodeSystemTree') {
                  _this[obj_key] = json;
                }else{
                  _this[obj_key] = json.map(function(x){ 
                    if (display_name_flag) {
                      return {code:x[0],display_name:x[1],jianpin:x[3]};
                    }else{
                      return {code:x[0],display:x[1],jianpin:x[3]};
                    }
                  });
                }
              },
            })
          },
          format_float:function(value) {
            return (parseFloat(value)||0).toFixed(2);
          },
          get_jianpin:function(name,obj,obj_key){
            $.ajax({
              url:"/hl7/person_names/parse.json",
              type:"POST",
              data:{name:name},
              success:function(json){
                var jp = json.jianpin;
                if(obj_key){
                  $(obj_key.split('.')).each(function(i,v) {
                    if (i==obj_key.split('.').length-1) {
                      obj[v] = jp;
                    }else{
                      obj = obj[v];
                    }
                  })
                }else{
                  obj=jp;
                }
              }
            })
          },
          // reset_element_bug:function () {
          //  setTimeout(function() {
          //    $(".el-table__body-wrapper.is-scroll-left").css({overflow:'hidden'});
          //    setTimeout(function() {
          //      $(".el-table__body-wrapper.is-scroll-left").css({overflow:'auto'});
          //    })
          //  })
          // }
        },
        mounted:function(){
          // console.log("================ current_app mounted ================")
          // this.get_codesystem_data('CodeSystem','2.16.156.1.19449.1.2261.1','codesystem_data_sex');
          // this.get_common_data_departments();
          var _this = this;
          <% if notice.present?||alert.present? %>
          _this.$message("<%= notice.to_s + alert.to_s %>");
          <% end -%>
        }
      })
      /**      
      * 对Date的扩展，将 Date 转化为指定格式的String      
      * 月(M)、日(d)、12小时(h)、24小时(H)、分(m)、秒(s)、周(E)、季度(q) 可以用 1-2 个占位符      
      * 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)      
      * eg:      
      * (new Date()).pattern("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423      
      * (new Date()).pattern("yyyy-MM-dd E HH:mm:ss") ==> 2009-03-10 二 20:09:04      
      * (new Date()).pattern("yyyy-MM-dd EE hh:mm:ss") ==> 2009-03-10 周二 08:09:04      
      * (new Date()).pattern("yyyy-MM-dd EEE hh:mm:ss") ==> 2009-03-10 星期二 08:09:04      
      * (new Date()).pattern("yyyy-M-d h:m:s.S") ==> 2006-7-2 8:9:4.18      
      */        
      Date.prototype.pattern=function(fmt) {
        var o = {
        "M+" : this.getMonth()+1, //月份         
        "d+" : this.getDate(), //日         
        "h+" : this.getHours()%12 == 0 ? 12 : this.getHours()%12, //小时         
        "H+" : this.getHours(), //小时         
        "m+" : this.getMinutes(), //分         
        "s+" : this.getSeconds(), //秒         
        "q+" : Math.floor((this.getMonth()+3)/3), //季度         
        "S" : this.getMilliseconds() //毫秒         
        };
        var week = {
        "0" : "/u65e5",
        "1" : "/u4e00",
        "2" : "/u4e8c",
        "3" : "/u4e09",
        "4" : "/u56db",
        "5" : "/u4e94",
        "6" : "/u516d"
        };
        if(/(y+)/.test(fmt)){         
        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));         
        }         
        if(/(E+)/.test(fmt)){         
        fmt=fmt.replace(RegExp.$1, ((RegExp.$1.length>1) ? (RegExp.$1.length>2 ? "/u661f/u671f" : "/u5468") : "")+week[this.getDay()+""]);         
        }         
        for(var k in o){         
        if(new RegExp("("+ k +")").test(fmt)){         
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));         
        }         
        }         
        return fmt;         
      }

    </script>
    <%= yield %>
  </body>
</html>
