<!DOCTYPE html>
<html>
  <head>
    <title>腾迈智医</title>
    <link rel="icon" href="/assets/admin/TM.ico" />
    <%= javascript_include_tag "/assets/jquery/jquery-1.9.1","/assets/plugins/vue/vue-253","/assets/plugins/vue/vue-router","/assets/plugins/lodash","/assets/plugins/vue/element-ui-240" %>
    <%= stylesheet_link_tag "/assets/plugins/vue/element-ui-240","/assets/plugins/fontawesome/font-awesome.min","/assets/plugins/vue/display" %>
    <%= javascript_include_tag  %>
    <%= csrf_meta_tags %>
  </head>
  <body class="thin_scrollbar">
    <%= yield %>
  </body>
</html>
